{% extends 'base.html.twig' %}

{% block maintitle %}Appli - Contacts{% endblock %}

{% block title %}<h2>Liste des contacts</h2>{% endblock %}
{% block menu %}
<a href="{{ path("nouveau_contact") }}">Ajouter</a>
{% endblock %}

{% block body %}
<h3>Contacts</h3>
<table>
	<tbody>
		{% for cont in contacts %}
		    <tr>
		    <td>{{cont.nom}}</td> 
		    <td><a href="{{ path("modifier_contact", {'id':loop.index}) }}" class="ui icon button xs">
					<i class="write icon"></i>
				</a></td>
		    <td><a href="{{ path("supprimer_contact", {'id':loop.index}) }}">Supprimer</a></td>
		 	</tr>
		{% endfor %}
	</tbody>
</table>	
{% endblock %}
	
{% block footer %}Mentions légales : "Appli - Contacts" by Loïc Bitter, vers. 1.0, licence ?
{% endblock %}
